body{margin: 10px auto; 
    width: 800px; 
    } 
    nav , main { 
    float: left; 
    } 
    nav{ 
    width: 25%; 
    } 
    main { 
    width: 75%; 
    } 
    p, nav  a { 
    margin: 10px; 
    } 
    a { 
    display: block; 
    } 
 
