body {
    height: 100vh;
    background-color: red;
    background-image: url(./4.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.gameboard{ 
    text-align: center;
    background: red;
}
.panel_lewy, .panel_prawy{ 
    width: 50%;
    float: left;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.opcja1, .opcja2 {
    padding: 10px;
    display: inline-block;
}
.btn.losuj  {
    background-image: url(./emoji2.png);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.kamien { 
           
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-image: url(./5.jpg);
    width: 272px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.papier {
    
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-image: url(./6.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}
.nozyce {

    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-image: url(./7.jpg);
    width: 267px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.panel_lewy {
    left: 0;
}
.panel_prawy {
    right: 0;
}
.panel_lewy.guip1 {
    position: absolute;
    top: 75px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.panel_prawy.guip2 {
    position: absolute;
    top: 75px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.win {
    background-image: url(./kekw.jpg);
    width: 269px;
    height: 223px;
    background-size: cover;
    border: 20px solid rgb(102, 255, 1);
}
.loser {
    background-image: url(./2head.jpg);
    width: 289px;
    height: 223px;
    background-size: cover;
    border: 20px solid rgb(138, 1, 1);
}