.baner {
    background-color: #993333;
    color: white;
    text-align: center;
    height: 80px;
    float: left;
    width: 100%;
}
.pierwszy, .drugi, .trzeci, .czwarty {
    font-family: Tahoma;
    background-color: #CC6666;
    color: white;
    text-align: center;
    width: 25%;
    height: 150px;
    float: left;
}
.lewy, .prawy {
    background-color:  #CC9999;
    width: 40%;
    height: 550px;
    text-align: center;
    float: left;
}
.srodkowy {
    background-color:  #FFCCCC;
    width: 20%;
    height: 550px;
    float: left;
}
.stopka {
    background-color: #993333;
    color: white;
    text-align: right;
    width: 100%;
    float: left;
}
table {
    border: 1px dotted red;
    width: 100%;
}
td {
    text-align: center;
}
button {
    padding: 20px;
    background-color: red;
    color: white;
}