body {
    font-family:arial;
    font-weight:400;
}
.panel { 
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
padding: 2.5%;
width: 45%;
background: #fff;
margin: 25px auto;
}
label { 
    min-width:150px;
    display:inline-block;
}
h1 { 
text-transform: uppercase;
font-weight: 300;
font-family: arial;
font-size: 1.75rem;
text-align: center;
}
input[type=text], input[type=password], input[type=date], input[type=email] {
width: 100%;
padding:5px;
}
input[type="submit"] {
    background: none;
border: 1px solid black;
padding: 10px 25px;

display: inline-block;
cursor: pointer;
margin: 20px auto;
}
.uzytkownicy_panel {
float: left;
width: 100%;
background: #eee;
}
.uzytkownicy_panel .panel {
float: left;
}
.formularz_rejestracja {
background: #4f596f;
float: left;
width: 100%;
}
.naglowek_blue {
color: #fff;
background: #312f3b;
margin: 0;
padding: 20px 0;
clear: both;
}
.naglowek_red {
display: block;
background: #6d2929;
padding: 20px;
margin: 0;
clear: both;
color: white;
}
.btn_danger { 
background: #a62727  !important;
border: 1px solid  !important;
color: white  !important;
font-weight: 700  !important;
}
.btn_success {
background: #239647 !important;
color: white  !important;
border: 1px solid  !important;
font-weight: 700  !important;
}
.row > div {
float:left;
}
.wyszukaj th {
background: #000;
color: #fff;
}
.wyszukaj th, .wyszukaj td {
border: 1px solid;
padding: 15px;
border-color: #cfcfcf;
}
.admin_menu{
    background: #000;
    color: #fff;
}
.admin_menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.admin_menu h1 {
    margin: 0;
    padding: 20px 0;
}
.admin_menu form {
    display: inline-block;
    background: none;
}
.admin_menu form button {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
}
.admin_table tr:first-child td {
    background: #000;
    color: #fff;
    padding: 10px;
}
.admin_table td {
    width: 100%
}
.admin_table td {
    background: #cdcdcd;
    padding: 5px;
}
a.btn {
    background: #2d4085;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}
textarea {
    widows: 100%;
    min-height:200px;
    resize:none;
}
input [name=tytul] {
    width: 100%;
    padding: 5px 0;
}
.info {
    background: #4CAF50;
    display:block;
    text-align: center;
    margin: 20px;
    padding:5px;
    color:#fff;
}
.btn_create {
    display: block;
    color: #fff;
    background: #4caf50;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
}
.newsy h1 {
    border-left: 2px solid blue;
    padding-left: 15px;
    text-align: left;
}
.web {
    display: flex;
    width: 100%;
}
.menu {
    width:25%;
    background: #000;
    color: #fff;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.menu ul {
    padding: 0;
}
.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #202020;
}
.content {
    width: 75%;
    overflow-y: scroll;
    height: 100vh;
}
.web .panel {
    width: 75%;
}