.baner {
    background-color: #3A7AD9;
    text-align: center;
    height: 50px;
}
.panel_lewy {
    float: left;
    background-color: #5D93E2;
    height: 400px;
    width: 30%;
}
.panel_prawy {
    float: left;
    background-color: #88B0EC;
    height: 400px;
    width: 70%;
}
.stopka {
    background-color: #3A7AD9;
    text-align: right;
}