.baner{
    background-color: #829EB9;
    height: 80px;
    text-align: center;
   font-family: Arial;
   padding-top: 10px;
}
.lewy{
    background-color: #B3C6D9;
    height: 500px;
    width: 25%;
    padding-top: 100px;
    text-align: center;
    text-size-adjust: 20px;
    float: left;
}
.prawy{
    background-color: #E0E9F1;
    height: 500px;
    width: 75%;
    padding-top: 100px;
    text-align: center;
    text-size-adjust: 20px;
    float: right;
}
.stopka{
    background-color: yellow;
    text-align: center;
    font-family: Arial;
    height: 50px;
    clear: both;
   
}
.img{
    margin: 30px;
    padding: 10px;
}