body{
    font-family: Verdana;
}
.baner,.stopka{
    background-color: rgb(205, 92 ,92);
    color: white;
    text-align: center;
    padding: 5px;
}
.lewy,.prawy{
    float: left;
    background-color: rgb(250, 235,215);
    width: 25%;
    height: 500px;
}
.srodek{
    float: left;
    background-color: rgb(250, 235,215);
    width: 50%;
    height: 500px;
}
.dane{
    background-color: rgb(210,180,140);
    color: white;
}
h2{
   text-transform: uppercase;
   text-size-adjust: 150%; 
   text-align: center;

}
h2::first-letter{
    font-size: 150%;
}