body{
    font-family: Georgia;
}
.Logo{
    background-color: #63AC74;
    color: orange;
    height: 140px;
    width: 50%;
    text-align: right;
    font-size: 160%;
    float: right;
}
.Menu{
    background-color: #63AC74;
    color: orange;
    height: 140px;
    width: 50%;
    text-align: right;
    font-size: 160%;
    float: left;
}
.Gw{
    background-color: #E3F6E7;
    height: 500px;
    width: 98%;
    padding: 20px;
    float: left;
}
.s1,.s2,.s3,.s4{
    background-color: #63AC74;
    height: 150px;
    width: 25%;
    float:  left;
}
table{
   width: 100%;
   border: green;
   border-style: solid;
   border-width: 2px; 
}
a{
    color: orange;
    margin: 15px;
}
td{
    background-color: #63AC74;
    color: white;
}