style
.body{
    text-align: center;
   
}
        .gameboard{ 
            text-align: center;
        }
        .panel_lewy, .panel_prawy{ 
            width:50%;
            float:left;
        }
        .opcja1{ 
            padding: 50px;
           background: greenyellow;
        }
           .opcja2{ 
            padding: 50px;
            background:blue;
    display: inline-block;
        }
        .btn.losuj  {
            padding: 15px 50px;
            background: red;
        
        }
      
        
    