body{
    font-family: garamond;
}
.lglowny{
    float: left;
    background-color: lavender;
    width: 25%;
    height: 800px;
}
.l1 {
    height: 500px;
    background-color: lavender;
    
}
.l2 {
    height: 300px;
    background-color: lavender;
    
}
.p1 {
    height: 150px;
    background-color: indigo;
    color: white;
    font-size: 200%;
    text-align: center;
    float: left;
    width: 75%;
}
.p2 {
    height: 650px;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    float: left;
    width: 75%;
}
.s {
    background-color: indigo;
    color: white;
    text-align: right;
    width: 100%;
    float: left;
}
ul {
    list-style-type: square;
}
img {
padding: 5px;
margin: 10px;
}
img:hover {
    padding: 4px;
    border: 1px solid indigo;
}
