body{
    font-family: Garamond;
}
.lewy1{
    height: 500px;
    width: 25%;
    background-color: lavender;
    float: left;
}
.lewy2{
    height: 300px;
    width: 25%;
    background-color: lavender;
    float: left;
}
.prawy1{
  height: 150px;
  width: 75%;
  background-color: indigo;
  color: white;
  font-size: 200%;
  text-align: center;
  float: left;
}
.prawy2{
    height: 650px;
    width: 75%;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    float: left;
}
.stopka{
    background-color: indigo;
    color: white;
    text-align: right;
    float: left;
}  