body{
    font-family:Helvetica;
}
.gora, .gora2{
    background-color:RGB(146, 184, 112) ;
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}
.baner, .stopka{
    background-color:RGB(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    float: left;
    width: 100%;
}
.lewy, .prawy{
    background-color:RGB(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
}
.gora2 a{
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150px;
    text-decoration:none ;
}
.tabele td{
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}
h1{
    letter-spacing: 20px;
    font-size: 250%;
}