body {
    background-image:url(./Kosmos.png) ;
}
.game {
    margin: auto;
    text-align: center;
}

.gameboard {
    border: 3px solid grey;
    background-image: url(./kraty.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    position: relative;
    margin: auto;
}

.friut { 
    width: 50px;
    height: 50px;
    opacity: 0;
}

.friut.peach {
    background-image: url(./kekww.jpg);
}

.friut.orange {
    background-image: url(./mingg.png);
}

.friut.apple {
    background-image: url(./peopp.png);
}

.friut.banana {
    background-image: url(./murzy.png);
}
.zycia {
    color: white;
}
.punkty {
    color: red;
}
.player {
    color: pink;
    text-align: left;
}
