body{
    background-color: #99FFCC;
}
.contener{
    width: 1000px;
    margin: auto;
}
.baner{
    background-color: #99ff66;
    height: 200px;
}
.menu{
    background-color: #66ccff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.K{
    width: 310px;
    padding: 10px;
    
}
.stopka{
 background-color: #66ccff;
 color: #006666;
 text-align: right;
 height: 30px;
 padding: 20px;
}
a{
color: #006666;
margin: 50px;
font-size:  200%;
text-decoration: none;
}
.h2,.h3{
    text-align: center;
}