body{
    font-family:Tahoma;
    color: white;
    float: top;
}
.baner1, .baner3 ,.baner4{
    background-color: #983713;
    width: 17%;
    height: 100px;
    float: left;
}
.baner2{
    float: left;
    background-color: #983713;
    width: 49%;
    height: 100px;
    text-align: center
    
}
.lewy{
    float: left;
    background-color: #ff7f50;
    width: 80%;
    height: 500px;
}
.prawy{
    float: right;
    background-color: #ff7f50;
    width: 20%;
    height: 500px;
}
.stopka{
    
    background-color: #983713;
    text-align: right;
}
.button{
    float: left;
    background-color: #d3d3d3;
    color:#2f2f2f ;
    border-style:solid 2px;
    border-color:#2f2f2f ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
a{
    color: white;
}