body {
    background-image: url(./yugi.jpg);
    background-size: cover;

}
        #gameboard {
            max-width: 750px;
            margin: auto;
            text-align: center;
            display: block;
        }

        .box {
            display: inline-block;
            border: 3px solid #000;
            width: 100px;
            margin: 5px;
            height: 150px;
            transition: .3s all ease-in-out;
        }

        .box {
            background-image: url(./karta000.jpg);
        }

        .Card0[data-card="open"],
        .Card0[data-card="done"] {
            background-image: url(./karta1.jpg);
        }

        .Card1[data-card="open"],
        .Card1[data-card="done"] {
            background-image: url(./karta2.jpg);
        }

        .Card2[data-card="open"],
        .Card2[data-card="done"] {
            background-image: url(./karta3.jpg);
        }

        .Card3[data-card="open"],
        .Card3[data-card="done"] {
            background-image: url(./karta4.jpg);
        }

        .Card4[data-card="open"],
        .Card4[data-card="done"] {
            background-image: url(./karta5.jpg);
        }

        .Card5[data-card="open"],
        .Card5[data-card="done"] {
            background-image: url(./karta6.jpg);
        }

        .Card6[data-card="open"],
        .Card6[data-card="done"] {
            background-image: url(./karta7.jpg);
        }

        .Card7[data-card="open"],
        .Card7[data-card="done"] {
            background-image: url(./karta8.jpg);
        }

        .Card8[data-card="open"],
        .Card8[data-card="done"] {
            background-image: url(./karta9.jpg);
        }

        .Card9[data-card="open"],
        .Card9[data-card="done"] {
            background-image: url(./karta10.jpg);
        }

        .Card10[data-card="open"],
        .Card10[data-card="done"] {
            background-image: url(./karta11.jpg);
        }

        .gui,
        .game-title {
            text-align: center;
            font-size: 300%;
            color: red;
            
        }
        .text_dol {
            text-align: left;
            color: black;
        }