style 
.game {
    margin: auto;
    text-align: center;
}

.gameboard {
    border: 3px solid #000;
    width: 1200px;
    height: 700px;
    position: relative;
    margin: auto;
    background-image:url(smok.jpg);
    background-size: cover
}

.friut {
 background-image: url(ogie.jpg);   
    width: 50px;
    height: 50px;
    opacity: 0;
    background-size: cover
}

.friut.peach {
    background-image: url(ogie.jpg);
    background-size: cover
}

.friut.orange {
    background-image: url(fire.jpg);
    background-size: cover
}

.friut.apple {
    background-image: url(ogie.jpg);
    background-size: cover
}

.friut.banana {
    background-image: url(fire.jpg);
    background-size: cover
}
