
     .obrazek {
        border: 3px solid #000;
        width: 500px;
        height: 400px;
        background-image: url(mleko.jpg);
        background-size: cover;

        clear: both;
        margin-left: auto;
        margin-right: auto;
      }

      .letter_password {
        padding: 15px;
        border-bottom: 3px solid #000;
        margin: 3px;

      }

      .empty_letter_password {
        padding: 15px;
        margin: 3px;
        border-bottom: 0px !important;
      }

      .litery {
        clear: both;
      }

      #haslo {
        display: block;
        text-align: center;
        float: left;
        height: 65px;
        width: 100%;
      }
    