body {
    font-family: Garamond;
}
.baner, .stopka {
    background-color: #3cb371;
    color: white;
    padding: 10px;
    font-size: 130%;
    text-align: center;
}
.lewy {
    background-color: #faebd7;
    width:55%;
    height:450px;
}
.prawy {
    background-color: #faebd7;
    width:45%;
    height:450px;
}
.obraz {
    padding: 3px;
    margin: 15px;
    border: 2px dashed #3cb371;
}