style 
#gameboard {
    max-width: 750px;
    margin: auto;
    text-align: center;
    display: block;
}
body{
    background-image: url(konsola.jpg);
    background-size: cover;
}
.box {
    display: inline-block;
    border: 3px solid #000;
    width: 100px;
    margin: 5px;
    height: 150px;
    transition: .3s all ease-in-out;
}

.box {
    background-image: url(glosnik.jpg);
    background-size: cover;
    
    
}

.Card0[data-card="open"],
.Card0[data-card="done"] {
    background-image: url(s3rl.jpg);
    background-size: cover;
}

.Card1[data-card="open"],
.Card1[data-card="done"] {
    background-image: url(aw.jpg);
    background-size: cover;
}

.Card2[data-card="open"],
.Card2[data-card="done"] {
    background-image: url(tn.jpg);
    background-size: cover;
}

.Card3[data-card="open"],
.Card3[data-card="done"] {
    background-image: url(tfr.jpg);
    background-size: cover;
}

.Card4[data-card="open"],
.Card4[data-card="done"] {
    background-image: url(neff.jpg);
    background-size: cover;
}

.Card5[data-card="open"],
.Card5[data-card="done"] {
    background-image: url(ncs.jpg);
    background-size: cover;
}

.Card6[data-card="open"],
.Card6[data-card="done"] {
    background-image: url(melo.jpg);
    background-size: cover;
}

.Card7[data-card="open"],
.Card7[data-card="done"] {
    background-image: url(gm.jpg);
    background-size: cover;
}

.Card8[data-card="open"],
.Card8[data-card="done"] {
    background: rgb(145, 255, 0);
}

.Card9[data-card="open"],
.Card9[data-card="done"] {
    background: rgb(197, 197, 197);
}

.Card10[data-card="open"],
.Card10[data-card="done"] {
    background: rgb(53, 134, 87);
}

.gui,
.game-title {
    text-align: center;
}
