body {
    margin:0;
    padding:0;
    height:100%;
}
.baner {
    background-color: #829EB9;
    height: 80px;
    text-align: center;
    font-family: Arial;
    padding-top: 10px;
}
.panel_lewy {
    background-color: #B3C6D9;
    height: 500px;
    width: 25%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    float: left;
}
.panel_prawy {
    background-color: #E0E9F1;
    height: 500px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
}
.stopka {
    background-color: yellow;
    text-align: center;
    font-family: Arial;
    height: auto;
    margin: -18px;
    
}
img {
    margin: 30px;
    padding: 10px;
}