body {
    font-family: Arial;
    color: white;
}
table > tr > td:nth-child(2) {
    width:405px;
}

.banner {
    background: hsl(242, 30%, 49%);
    text-align: center;
    padding: 10px;
    height: 70px;
}
.stopka {
    background: #5957a1;
    text-align: center;
    height: 50px;
    clear: both;
}
.panel_prawy {
    background: #5957a1;
    text-align: center;
    width: 35%;
    height: 450px;
    
}
.panel_lewy {
    background:#bbadcd;
    width: 65%;
    height: 450px;
    overflow: scroll;
}
a{
    color: yellow;
}
hr {
    border-color: yellow;
    background-color: yellow;
}
ul li {
    list-style-type: square;
}
td {
    border:1px dashed black;
}
