body{
    font-family:Helvetica;
}
.lewy1{
    height: 400px;
    width: 70%;
    background-color: snow;
    font-size: 150%;
    text-align: center;
}
.lewy2{
    height: 400px;
    width: 70%;
    background-color: snow;
    font-size: 150%;
}
.prawy1 ,.prawy3{
    height:150px;
    width: 30%;
    background-color: steelblue;
    color: white;
    text-align: center;
}
.prawy2{
    height:150px;
    width: 30%;
    background-color: steelblue;
    color: white;
}

.stopka{
    background-color: steelblue;
    color: white;
}
.h2{
    font-size: 250%;
}
.img{
    padding: 4px;
}
img:hover { 
    padding: 3px; 
    border: 1px solid steelblue;
}
.lewy{
    float: left;
}
.prawy{
    float:top right;
}
ol{
    margin: 0px;
}