body{
    font-family: Verdana;
    color: #2F2F2F;
}
.ban1{
    background-color: #DCDCDC;
    width: 55%;
    height: 80px;
    text-align: center;
    float: left;
}
.ban2,.ban3,.ban4{
background-color: DCDCDC;
width: 15%;
height: 80px;
float: left;
}
.lewy{
    background-color: #808080;
    width: 30%;
    height: 450px;
    float: left;
}
.prawy{
    background-color: #808080;
    width: 70%;
    height: 450px;
    float: left;
}
.stopka{
    background-color: #DCDCDC;
    text-align: center;
}
.h5{
    color: #808080; 
    outline-style: solid;
    outline-color: #808080;
    outline-width: 1px;
    margin: 7px;
    padding: 10px;
    text-size-adjust: 80%;
    text-decoration: none;
}
input{
    color: grey;
}