body{
    font-family: Arial;
    color: white;
}
table td td:nth-child(2){
    width:405px;
    height: 200px;
}
a{
    color: yellow;
}
.baner,.panel_prawy,.stopka{
    background: #5957a1;
    text-align: center;
}
.panel_lewy{
    float: left;
    background: #bbadcd;
    width: 65%;
    height: 450px;
    overflow-y:scroll;
}
.banner{
    padding: 10px;
    height: 70px;
}
.panel_prawy{
    width: 35%,;
    height: 450px;
}
hr{
    background-color: yellow;
    border-color: yellow;
}
.stopka{
    height: 50px;
}
ul li{
    list-style-type: square;
}
table td{
    border: 1px dashed red;
}
