body{
    background-image: url(03.jpg);
    background-size: cover;
}
.t1,.t2,.t3{
    text-align: center;
}
.k1,.k2,.k3{
    width: 100px;
    height: 100px;
    background-image: url(space.jpg);
    background-size: cover;
}
.kom{
    background-color: gold;
    text-align: left;
}