.banner {
    background-color: #D47958;
    height: 50px;
}
.lewy {
    background-color: #AA5938;
    height: 450px;
    width: 40%;
}
.srodkowy {
    height: 450px;
    background-color: #E5998B;
    width: 30%;
}
.prawy {
    width: 30%;
    background-color: #AA593B;
    height: 450px;
}
.stopka {
    background-color: #D47958;
    height: 50px;
    text-align: right;
}
ul li {
    list-style-type: circle;
}
ul {
    margin-left: 100px;
}
img {
    margin-top: 100px;
    text-align: right;
}
form {
    margin-left: 120px;
    margin-top: 50px;
}
h4 {
margin-left: 100px;
margin-top: 200px;
}
h2 {
    margin: 0;
}