.baner{
    font-size: 120%;
    color: white;
    background-color: #45517D;
    height: 60px;
    text-align: right;
    float: left;
    width: 100%;
}
.lewy{
    background-color: #61B2EC;
    width: 40%;
    height: 500px; 
    float: left;
}
.prawy{
    background-color: #8EC9F2;
    width: 60%;
    height: 500px;
    float: left;
}
.stopka{
    width: 100%;
    background-color: #45517D;
    color: white;
    text-align: center;
    font-size: 150%;
    float: left;
}
.a:link{
 color:orange
}
a:visited{
 color:green
}
