body {
    font-family: Tahoma;
    }
    
    a {
    color:#ffd87e;
    }
    
    a:hover {
    color:ff0000;
    }
    
    #baner{
    background-color:#af8c4b;
    text-align:center;
    height:60px;
    }
    
    #panel_lewy{
    background-color:#af8c4b;
    text-align:right;
    width:30%;
    height:500px;
    float:left;
    }
    
    #panel_prawy{
    background-color:#ffd87e;
    height:500px;
    width:70%;
    float:right;
    overflow:scroll;
    }
    
    hr{
    color:#ffd87e;
    }
    
    ul{
    list-style-type:circle;
    }
    
    #tabela{
    border: 1px dotted black;
    border-collapse: collapse;
    }
    
    #tabela td, th{
    border: 1px dotted black;
    }
    
    
    #stopka{
    clear: both;
    background-color:#af8c4b;
    text-align:center;
    height:25px;
    }